VITE_FIREBASE_API_KEY=AIzaSyD9Q2p3OwkhEki-IWi0m0TJmnAZN7FAf4A
VITE_FIREBASE_AUTH_DOMAIN=urbanapp-57c10.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=urbanapp-57c10
VITE_FIREBASE_STORAGE_BUCKET=urbanapp-57c10.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=228105641962
VITE_FIREBASE_APP_ID=1:228105641962:web:f20a3089fe8eca1b019c93
VITE_FIREBASE_MEASUREMENT_ID=G-RMXS5B56D3